@model IEnumerable<PetShop.Model.Transaction>

@{
    ViewData["Title"] = "Trnasactions List";
}

<h1>Transactions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                Pet Food
            </th>
            <th>
                Pet Price
            </th>
            <th>
                Pet Food Quantity
            </th>
            <th>
                Pet Food Price
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetFood.AnimalType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetFoodQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetFoodPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
